
.practice {
  margin: 0;
  width: 60%;
  top: 100%;
  height: 100vh;
  overflow: hidden;
  white-space: nowrap;
  padding: 0;
}

.card-slide {
  margin: 0;
  top: 4rem;
  height: 100%;
  width: 100%;
  left: 0;
}

.card-container {
  top: 20%;
}

.slide-card {
  width: 100%;
  white-space: normal;
}

.right {
  left: 90%;
  top: 20rem;
}

.left {
  left: 10%;
  top: 20rem;
}

.right .left {
  font-size: 3rem;
}

.question {
  margin-bottom: 3rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 2rem;
}

.answer {
  margin: 0;
  line-height: 3rem;
  height: 3rem;
}
